.header__lang-link {
  color: #FFF;
  text-decoration: none;
  line-height: 28px;
  font-size: 24px;
  font-weight: 400;
}

@media all and (max-width: 480px) {
  .header__lang-link {
    line-height: 20px;
    font-size: 18px;
  }
}