.place__title {

  /*Типографика*/
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-wrap: pretty;

  /*Размеры блока и отступы*/
  margin: 0;
}

@media (max-width: 768px) {

  .place__title {

    /*Типографика*/
    font-size: 42px;
    line-height: 46px;
  }

}

@media (max-width: 350px) {

  .place__title {

    /*Типографика*/
    font-size: 32px;
    line-height: 35px;

    /*Размеры блока и отступы*/
    margin: 0 16px;
  }

}