.places {

  /*Вертикальный flex-контейнер*/
  display: flex;
  flex-direction: column;
  align-items: center;

  /*Размеры блока и отступы*/
  gap: 80px;
  width: calc(100% - 96px); /*2 боковых отступа по 48px*/
  margin: 0 auto;
  padding: 0 0 92px;
}


@media (min-width: 1100px) {

  .places {
    width: calc(100% - 296px);/*Увеличенный отступ для широких экранов*/
  }

}

@media (max-width: 768px) {

  .places {

    /*Размеры блока и отступы*/
    gap: 73px;
    width: calc(100% - 48px); /*2 боковых отступа по 24px*/
    padding: 0 0 90px;
  }

}

@media (max-width: 350px) {

  .places {

    /*Размеры блока и отступы*/
    gap: 64px;
    width: 100%; /*полная ширина на мобильных*/
    padding: 0 0 66px;
  }

}