.lead {

  /*Центрированный вертикальный контейнер*/
  display: flex;
  flex-direction: column;
  align-items: center;

  /*Размеры блока и отступы*/
  width: calc(100% - 96px); /*2 боковых отступа по 48px*/
  margin: 0 auto;
}

@media (min-width: 1100px) {

  .lead {
    width: calc(100% - 296px);/*Увеличенный отступ для широких экранов*/
  }

}

@media (max-width: 768px) {

  .lead {
    width: 100%; /*Полная ширина на мобильных*/
  }

}