.footer__link {

  /*Типографика*/
  font-size: 16px;
  font-weight: normal;
  line-height: 18px;
  margin: 0;

  /*Сброс оформления ссылки*/
  color: #FFF;
  text-decoration: none;
}

@media (max-width: 690px) {

  .footer__link {
    
    /*Типографика*/
    font-size: 24px;
    line-height: 24px;
  }

}