.place__paragraph {

  /*Типографика*/
  font-size: 18px;
  font-weight: normal;
  line-height: 163%;
  margin: 0;
  text-wrap: pretty;
}

@media (max-width: 768px) {

.place__paragraph {

    /*Типографика*/
    font-size: 16px;
  }

}