.footer__copyright {

  /*Типографика*/
  font-size: 14px;
  font-weight: normal;
  line-height: 16px;
  margin: 0;
}

@media (max-width: 690px) {

  .footer__copyright {

    /*Типографика*/
    font-size: 14px;
    line-height: 14px;
  }

}