.intro {

  /*Вертикальный контейнер*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /*Размеры блока и отступы*/
  width: calc(100% - 96px); /*2 боковых отступа по 48px*/
  margin: 0 auto;
  padding: 0 0 92px;
}

@media (min-width: 1100px) {

  .intro {
    width: calc(100% - 296px);/*Увеличенный отступ для широких экранов*/
  }

}

@media (max-width: 768px) {

  .intro {
    width: calc(100% - 48px); /*2 боковых отступа по 24px*/
    padding: 0 0 88px;
  }

}

@media (max-width: 350px) {

  .intro {
    width: calc(100% - 32px); /*2 боковых отступа по 16px*/
    padding: 0 0 64px;
  }

}