.cover {
  /*Фоновое изображение*/
  background-image: url(../../../images/__background.png);
  background-size: cover;
  background-position: center;

  position: relative;
  z-index: 0;

  
  /*Размеры блока и отступы*/
  width: 100%;
  margin: 0 auto;
}


@media (min-width: 1100px) {

  .cover {
    width: calc(100% - 96px); /*2 боковых отступа по 48px*/
  }

}

@media (max-width: 350px) {

  .cover {
    min-height: 200px;
  }

}