.cover__overlay {

  /*Центрированный вертикальный контейнер*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /*Оверлей*/
  background-color: rgba(42, 44, 47, 0.3);
  position: relative;
  z-index: 1;

  /*Сброс оформления ссылки*/
  color: #FFF;
  text-decoration: none;
  
  /*Размеры блока и отступы*/
  min-height: 480px;
  width: 100%;
}

@media (min-width: 1100px) {

  .cover__overlay {
    min-height: 640px;
  }

}

@media (max-width: 350px) {

  .cover__overlay {
    min-height: 200px;
  }

}